body {
  margin: 0;
}

.about {
  background-color: burlywood;
  padding: 50px 40px;
  display: flex;
  justify-content: center;
}

.inner-about {
  width: 760px;
  display: flex;

  flex-direction: column;
}

.linkedin {
  font-size: 20px;
}

.picture {
  width: 300px;
  border-radius: 50%;
}

.linkedin {
  text-decoration: none;
}
